.overlay
	z-index: 9999
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100Vh
	background: rgba(0, 0, 0, 0.5)

.modal
	position: absolute
	z-index: 9999
	background: $primary-color
	border: $primary-border
	top: 42vh
	left: 50vw
	transform: translate(-50%, -50%)
	height: 40vh
	width: 40vw

	.title
		width: 100%
		height: 4rem
		background: $primary-color
		line-height: 4rem
		box-sizing: border-box
		padding-left: 10%
		text-transform: uppercase
		font-weight: bold

		.close
			display: inline-block
			float: right
			width: 2rem
			height: 2rem
			cursor: pointer
			text-align: center
			line-height: 2rem
			transform: translateY(50%)
			margin-right: 5%

	.content
		background: $secondary-color
		color: $primary-color
		height: 100%
		border: $secondary-border
		padding: 1rem
		overflow-y: auto

		form

			.inputs
				display: flex
				flex-flow: column nowrap
				align-items: center

				input
					box-sizing: border-box
					padding: 5px
					height: 30px
					width: 140px
				label
					width: 80px
					line-height: 30px
					text-align: right
					margin-right: 1rem

				[type="submit"]
					background: $secondary-color
					border: $secondary-border
					color: $primary-color
					margin-top: .5rem
					padding: .5rem 1rem
					text-transform: uppercase
					font-weight: bold
					cursor: pointer
					@include vendor(transition, all .3s ease-in)

					&:hover
						background: $primary-color
						border: $primary-border
						color: $secondary-color

				.input_group
					display: flex
					flex-flow: row nowrap
					justify-content: center
					margin-bottom: .3rem


				.concert
					display: none

				.radio_buttons
					display: flex
					margin: 1rem auto

					[type="radio"]
						display: none

					[type="radio"] + label
						text-align: center
						border: 1px solid $secondary-color-hover
						display: inline-block
						position: relative
						margin: 0
						padding: .5rem 1rem
						cursor: pointer
						color: $primary-color
						@include vendor(transition, all .3s)

					[type="radio"]:checked + label,
					[type="radio"] + label:hover
						background: $primary-color
						color: $secondary-color

	&.concert .content form .concert
		display: block

	.menu
		display: flex
		flex-flow: row nowrap
		justify-content: space-around
		align-items: center
		height: 100%

		> div
			padding: 1rem 2rem
			cursor: pointer

			&:hover
				background: $secondary-color-hover