table, th, td
	box-sizing: border-box

table
	&.calendar
		border-left: $secondary-border
		border-right: $secondary-border
		border-collapse: collapse
		width: 94vw

		tr
			opacity: 1
			height: calc(100vh / 7)
			@include vendor(transition, all .3s ease-in)

			&.heading
				border-bottom: 1px solid black

			&.inserting td:not(.info)
				opacity: 0

			td, th
				border: $secondary-border
				width: calc(100% / 7)
				font-size: 2rem

			th
				border-top: none
				color: $primary-color

			td
				//width: calc((100vw - 6vw) / 7)
				border-right: 1px solid $secondary-color-hover
				border-left: 1px solid $secondary-color-hover
				vertical-align: top
				text-align: center
				padding: 0
				@include vendor(transition, opacity .3s ease-in)

				&.prev,
				&.next
					color: #aaa

				&.current_month
					cursor: pointer

					&:hover
						background: $secondary-color-hover

					&.today
						background: $primary-color
						color: $secondary-color

						&:hover
							background: $primary-color-hover

						span
							color: $secondary-color

				&.info
					cursor: pointer
					text-align: center
					color: $primary-color
					font-size: 300%

					&:hover
						background: $secondary-color-hover

				span
					color: $primary-color
					display: block

					&.concerts,
					&.albums
						font-size: 80%
						width: 100%
						margin: 0
						padding: 0

				&:first-child,
				&:first-child
					border-left: none

				&:last-child,
				&:last-child
					border-right: none

	&.concerts
		height: 100%
		margin: 0 auto
		text-align: center
		border-spacing: 0

		tr:hover
			background: $secondary-color-hover

		td
			color: white
			padding: 0

		td, th
			&.artist
				text-align: right
				padding: 0 2rem
			&.distance
				text-align: left
				padding: 0 2rem