@import variables
@import mixins
@import tables
@import modal

body
	width: 100%
	background: $secondary-color
	font-family: Arial, sans-serif
	margin: 0
	padding: 0
	max-height: 100vh
	overflow: hidden

.container
	display: flex
	flex-flow: row nowrap
	@include vendor(transition, filter .5s ease-in)

	&.modal-shown
		filter: blur(2px)

	main.calendar
		top: calc(100vh / 7)
		display: flex
		flex-flow: column nowrap

aside
	height: 100vh
	background: $secondary-color
	min-width: 3vw
	line-height: 100vh
	text-align: center
	color: $primary-color
	font-weight: bold
	font-size: 2rem
	cursor: pointer
	@include vendor(transition, .3s ease-in)

	&:hover,
	&:focus,
	&:active
		background: $primary-color
		color: $secondary-color

.online_status
	position: absolute
	bottom: 0
	height: 20px
	width: 100%
	background: darkred
	color: white
	text-align: center
	transform: translateY(100%)
	@include vendor(transition, transform .3s ease-in)

	&.show
		transform: translateY(0)